<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- data.page %></title>

    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/rodas-de-conversa-sessoes.css" />
</head>

<body>
    <%- include("../templates/header.ejs") %>
    <main>
        <section id="sessoes">
            <h1>Sessões: <%- data.rodaDeConversa.nome %></h1>

            <% if (data.tipoUsuario === "profissional") { %>
            <a href="/criar-sessao/<%- data.rodaDeConversa.nome %>" id="criar-sessao">Criar sessão</a>
            <% } %>


            <div id="sessoes-container">
                <% data.rodaDeConversa.sessoes.forEach(sessao => { %>
                <div class="sessao">
                    <h2><%- sessao.nome %></h2>

                    <h3>6 de <%- sessao.quantidade_pessoas %> pessoas</h3>

                    <div class="sessao-info">
                        <p>Data: <%- `${String(new Date(sessao.data_reuniao * 1000).getDate()).padStart(2, "0")}/${String(new Date(sessao.data_reuniao * 1000).getMonth() + 1).padStart(2, "0")}` %></p>
                    </div>

                    <a href="/sessao/<%- sessao.id %>">Ver mais</a>
                </div>
                <% }) %>
            </div>
        </section>
    </main>
    <%- include("../templates/footer.ejs") %>
</body>

</html>
