<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- data.page %></title>

    <%- include("../../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/home-admin.css">
</head>

<body>
    <%- include("../../templates/header-admin.ejs") %>

    <main>
        <section id="usuarios-admin">
            <h1>Olá, administrador!</h1>

            <form method="get">
                <input type="search" name="query" id="query" value="<%- data.query %>" placeholder="Pesquise um usuário por: ID, nome ou email">
            </form>

            <div id="usuarios-lista">
                <% data.profissionais.forEach(profissional => { %>
                <div class="user">
                    <p>ID: <%- profissional.id %></p>

                    <p>Nome: <%- profissional.nome %></p>

                    <p>Email: <%- profissional.email %></p>

                    <p>Telefone: <%- profissional.telefone %></p>

                    <div class="user-actions">
                        <a href="/deletar-profissional-admin/<%- profissional.id %>"><i class="fa-solid fa-trash"></i></a>

                        <a href="/editar-profissional-admin/<%- profissional.id %>"><i class="fa-solid fa-pen-to-square"></i></a>
                    </div>
                </div>
                <% }) %>
            </div>
        </section>
    </main>

    <%- include("../../templates/footer.ejs") %>
</body>

</html>